{
  "extends": [
    "plugin:react/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "jest",
    "prettier",
    "import",
    "react-hooks"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "browser": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {},
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src/"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      },
      "alias": {
        "map": [
          [
            "~",
            "./src"
          ]
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "no-console": "warn",
    "react/react-in-jsx-scope": 2,
    "react/prop-types": "off",
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "semi": true,
        "semicolons": true,
        "bracketSpacing": true,
        "bracketSameLine": true,
        "jsxSingleQuote": false,
        "singleQuote": false,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    ]
  }
}